@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #5d6875;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(47, 57, 70);
  height: 10%;
  border-radius: 50px;
}
